body{
    background-color: purple;
    font-style: normal;
    font-size: large;
    color:yellow
}
.green{
    background-color: green;
}

.zydeco-dance li::before {
    content: "•"; 
    color: #d4af37;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

    